<i style="font-size:2.5rem; color: steelblue; right: 1rem; top:.5rem; z-index:100;"
   class="far fa-times-circle cursor_pointer position-absolute float-right"
  (click)="viewStateChoose(this.viewStateService.IMENTOR_MAIN)"></i>

<div class="row mt-4 align-items-center mb-md-4 mb-2">
  <div class="col-md-4 pl-md-5 pl-4" style="font-family: Orbitron-Black;">
    <h2 style="color: rgb(9,94,129);">
      STORYBOOK
    </h2>
    <h6>Listen and Choose the Right Word.</h6>
  </div>

  <div class="col-md-8 mt-2 mt-md-0">
    <div class="d-none d-md-flex justify-content-center align-items-center">
      <div (click) = "viewStateChoose('story-one')">
        <img [hidden]="this.viewStateService.view_state === this.viewStateService.STORYBOOK_ONE" class="header_image_height" src="assets/img/story_one.png" >
        <img [hidden]="this.viewStateService.view_state !== this.viewStateService.STORYBOOK_ONE" class="header_image_height" src="assets/img/story_one_active.png" >
      </div>
      <div (click) = "viewStateChoose('story-two')">
        <img [hidden]="this.viewStateService.view_state === this.viewStateService.STORYBOOK_TWO" class="header_image_height" src="assets/img/story_two.png" >
        <img [hidden]="this.viewStateService.view_state !== this.viewStateService.STORYBOOK_TWO" class="header_image_height" src="assets/img/story_two_active.png" >
      </div>
      <div (click) = "viewStateChoose('story-three')">
        <img [hidden]="this.viewStateService.view_state === this.viewStateService.STORYBOOK_THREE" class="header_image_height" src="assets/img/story_three.png" >
        <img [hidden]="this.viewStateService.view_state !== this.viewStateService.STORYBOOK_THREE" class="header_image_height" src="assets/img/story_three_active.png" >
      </div>
      <div (click) = "viewStateChoose('story-four')">
        <img [hidden]="this.viewStateService.view_state === this.viewStateService.STORYBOOK_FOUR" class="header_image_height" src="assets/img/story_four.png" >
        <img [hidden]="this.viewStateService.view_state !== this.viewStateService.STORYBOOK_FOUR" class="header_image_height" src="assets/img/story_four_active.png" >
      </div>
    </div>

<!--    <div ngbDropdown class="dropdown show float-right d-md-none mr-2">-->
<!--      <button ngbDropdownToggle class="btn btn-secondary dropdown-toggle rounded border border-danger text-danger font-weight-bold"-->
<!--              type="button" style="background-color: rgb(250,247,185);"-->
<!--              id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--        {{ decideMainViewString() }}-->
<!--      </button>-->

<!--      <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right btn-group" aria-labelledby="dropdownMenuLink">-->
<!--        <button ngbDropdownItem class="dropdown-item text-dark" (click) = "viewStateChoose(this.viewStateService.STORYBOOK_ONE)" style="background-color: rgb(250,247,185);">storybook1</button>-->
<!--        <button ngbDropdownItem class="dropdown-item text-dark" (click) = "viewStateChoose(this.viewStateService.STORYBOOK_TWO)" style="background-color: rgb(250,247,185);">storybook2</button>-->
<!--        <button ngbDropdownItem class="dropdown-item text-dark" (click) = "viewStateChoose(this.viewStateService.STORYBOOK_THREE)" style="background-color: rgb(250,247,185);">storybook3</button>-->
<!--        <button ngbDropdownItem class="dropdown-item text-dark" (click) = "viewStateChoose(this.viewStateService.STORYBOOK_FOUR)" style="background-color: rgb(250,247,185);">storybook4</button>-->
<!--      </div>-->
<!--    </div>-->

<!--    Uncomment later 3/17/2020-->
<!--    <div class="junbong-dropdown float-right d-md-none mr-2">-->
<!--      <button (click)="this.toggleDropBtn()"-->
<!--              class="junbong-dropbtn btn rounded border font-weight-bold">  {{ decideMainViewString() }} </button>-->
<!--      <div id="myDropdown" class="junbong-dropdown-content btn-group"  aria-labelledby="dropdownMenuLink"  style="z-index: 11;">-->
<!--        <button ngbDropdownItem class="dropdown-item text-dark" (click) = "viewStateChoose(this.viewStateService.STORYBOOK_ONE)" style="background-color: rgb(250,247,185);">storybook1</button>-->
<!--        <button ngbDropdownItem class="dropdown-item text-dark" (click) = "viewStateChoose(this.viewStateService.STORYBOOK_TWO)" style="background-color: rgb(250,247,185);">storybook2</button>-->
<!--        <button ngbDropdownItem class="dropdown-item text-dark" (click) = "viewStateChoose(this.viewStateService.STORYBOOK_THREE)" style="background-color: rgb(250,247,185);">storybook3</button>-->
<!--        <button ngbDropdownItem class="dropdown-item text-dark" (click) = "viewStateChoose(this.viewStateService.STORYBOOK_FOUR)" style="background-color: rgb(250,247,185);">storybook4</button>-->
<!--      </div>-->
<!--    </div>-->

  </div>

</div>


