<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-11 col-12 mt-md-4 mt-0 mb-md-3 mb-0 container-border">

      <i style="font-size:2.5rem; color: #ffbec4; right: .5rem; z-index:100;"
         class="far fa-times-circle cursor_pointer position-absolute float-right"
         (click)="this.viewStateChoose(this.viewStateService.IMENTOR_MAIN)"></i>

      <div class="row mt-4 align-items-center mb-1">
        <div class="col-md-9 pl-md-5 pl-4" style="font-family: Orbitron-Black;">
          <h2 style="color: white;">
            {{ this.userService.kind | titlecase }} Final Test
          </h2>
        </div>
      </div>


      <div class="row">
        <div class="col d-flex justify-content-end">

          <ul class="nav nav-tabs ml-md-5 ml-0 border-bottom-0">
            <ng-container *ngFor="let scene_num of [1, 2, 3, 4]; ">
              <button class="nav-item nav-link cursor_pointer"
                      [ngClass]="scene_num-1 === this.finalTestService.current_question_index ? 'active' : 'inactive'"
                      style="color: white;">
                <!--(click)="this.navigateQuestion(scene_num)"-->
                  Q <span style="color: yellow;">0{{scene_num}}</span>
              </button>
            </ng-container>
          </ul>

        </div>
      </div>

      <div class="row p-2 bg-white rounded shadow_effect1">
        <div class="col" style="min-height: 500px;">

          <div class="row final_test_outer_border" style="background-color: #0f3854">
            <div class="col-6 final_test_inner_border py-1" style="color:white; border-color: black;">
              {{ this.finalTestService.getCurrentQuestion(this.userService.kind).sub_kind_kor}}
            </div>
            <div class="col-6 py-1" style="color:white;" i18n>
              최소 문장: {{ this.finalTestService.getCurrentQuestion(this.userService.kind).opt_length }}
            </div>
          </div>

          <div class="row final_test_outer_border" style="background-color: #0f3854">
            <div class="col-6 final_test_inner_border py-1">
              <span style="color:white;" i18n>준비: </span>
              <span class="countdown-timer" id="prep_timer">
                {{ this.clockDisplayHTML(this.finalTestService.getCurrentQuestion(this.userService.kind).opt_time | number) }}
              </span>
            </div>

            <div class="col-6 py-1">
              <span style="color:white;" i18n>작성 제한시간: </span>
              <span class="countdown-timer" id="total_timer">
                {{ this.clockDisplayHTML(this.finalTestService.getCurrentQuestion(this.userService.kind).opt_time2 | number) }}
              </span>
            </div>
          </div>

          <div class="row final_test_outer_border" style="min-height: 60px;">
            <div class="col-12 col-sm-8 order-1 order-sm-0 pt-0 pt-sm-2">
              <p id="translatable_quest">{{ this.finalTestService.getCurrentQuestion(this.userService.kind).quest }}</p>
            </div>
            <div class=" p-2 text-right col-12 col-sm-4 order-0 order-sm-1 text-center">
              <button class="btn btn-sm"
                      style="background:radial-gradient(orange,rgb(207, 100, 8));"
                      (click)="this.translateQuest()" i18n>
                {{this.translateButtonLabel()}}
              </button>
            </div>
          </div>


          <router-outlet></router-outlet>


          <div class="row mt-2 text-right">
            <div class="col-12">
              <button class="btn btn-light"
                      style="background:radial-gradient(#a0fdff,rgb(0,158,167));"
                      (click)="this.nextQuestion();"
                      [disabled]="this.isNextQuestionButtonDisabled()"
                      *ngIf="this.finalTestService.current_question_index < 3" i18n>다음단계
                <i class="fas fa-angle-double-right"></i>
              </button>
              <button class="btn btn-light"
                      style="background:radial-gradient(#ff6972,rgb(167,36,32));"
                      (click)="this.nextQuestion();"
                      [disabled]="this.isNextQuestionButtonDisabled()"
                      *ngIf="this.finalTestService.current_question_index === 3" i18n>마치기
                <i class="far fa-smile-beam"></i>
              </button>
            </div>

          </div>

        </div>
      </div>



    </div>


  </div>
</div>
