.countdown-timer {
  font-family: 'Share Tech Mono', monospace;
  color: #ffffff;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #daf6ff;
  text-shadow: 0 0 20px #0aafe6, 0 0 20px rgba(10, 175, 230, 0);
  font-size: 1.2rem;
  padding: 5px 0;
}
.countdown-timer .date {

}

.nav-link {
  background:linear-gradient(135deg, rgb(147, 147, 147), #333333);
  color:white;
  padding:5px;
  padding-left: 17px;
  padding-right: 17px;
  font-size:.8rem;
  font-weight:bold;
}

.nav-link:hover {
  color:white;
  background:linear-gradient(135deg, rgb(141, 153, 233), rgb(28, 40, 192)) !important;
}

.nav-link.active {
  color:white !important;
  background:linear-gradient(135deg, rgb(141, 153, 233), rgb(28, 40, 192)) !important;
}

.image-container-custom {
  border-style:solid;
  border-width:1px;
  border-color:white;
  border-radius:15px;
  background:linear-gradient(135deg, rgb(231, 217, 240), rgb(78, 42, 103));
  width:270px;
  z-index: 10;
  position:relative;
}


.container-border {
  background-color: #6699cc;
  border-radius: 10px;
}

.inner-container-border {
  border-radius: 10px;
  background:linear-gradient(135deg, rgb(246, 246, 246), rgb(221, 221, 221));
}

.main_background_color {
  background-color: #6699cc;
}

.shadow_effect1{
  -moz-box-shadow: 4px 4px 4px #5e5e5e;
  -webkit-box-shadow: 4px 4px 4px #5e5e5e;
  box-shadow: 4px 4px 4px #5e5e5e;
}


html {
  font-size: 80%;
}


/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .container-border {
    background-color: #6699cc;
    border-width: 15px;
    border-style: solid;
    border-color: #6699cc;
    border-radius: 15px;
  }

  .nav-link {
    padding-left: 25px;
    padding-right: 25px;
    margin-right: 3px;
    font-size: 0.9rem;
  }

  .main_background_color {
    background-color:rgb(88, 73, 53);
  }
  html {
    font-size: 90%;
  }
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  html {
    font-size: 100%;
  }

  .inner-container-border {
    border-width: 8px; border-style: solid;
    border-color: rgb(221, 221, 221);
  }
}

