<div class="row pt-2 pb-2 pr-md-3 pl-md-3 pr-2 pl-2"
     *ngFor="let a_paragraph of this.paragraph_list; let idx = index"
     [id]="'story_three_pgraph_'+idx">
  <div class="col-12 pl-3 pr-3 pt-2 pb-2 bg-white storybook_body_text"
       [ngClass]="this.current_pgraph_num === idx? 'question_statement_box_selected': 'question_statement_box'">

        <div *ngFor="let a_english_word of this.pgraph_english_words[idx]; let idx = index"
             [id]="'story_three_word_div_'+idx">
            {{a_english_word}}.
        <!---->
        <!--<ng-container-->
          <!--*ngIf="this.current_question_num !== idx; then question_default; else question_highlight">-->
        <!--</ng-container>-->

        <!--<ng-template #question_default>-->
              <!--<span [ngClass]="idx > this.current_question_num? 'invisible' : 'visible'">-->
              <!--{{this.all_english_words[idx]}}-->
              <!--</span>-->
        <!--</ng-template>-->

        <!--<ng-template #question_highlight>-->
          <!--<form class="form-style-4 form-inline"-->
                <!--[formGroup]="storyTestForm">-->
            <!--<input type="email"-->
                   <!--class=""-->
                   <!--formControlName="english_sentence"-->
                   <!--autocomplete="off"-->
                   <!--maxlength="100"-->
                   <!--[placeholder]="this.current_english_word"-->
                   <!--[id]="'english_sentence_'+ idx">-->
          <!--</form>-->
        <!--</ng-template>-->


      </div>

  </div>
</div>
