@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    outline: none;
}

*:focus {
    outline: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

*,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    margin: 0;
    padding: 0;
}

img {
    border: 0;
    vertical-align: top;
}

li {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a:link,
a:visited {
    text-decoration: none;
    color: #333;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

input {
    vertical-align: middle;
}

input[type="submit"],
input[type="checkbox"],
label {
    cursor: pointer;
}

address {
    font-style: normal;
}

.hidden_item {
    position: absolute;
    left: -9999em;
}

.clfix:after {
    content: '';
    display: block;
    clear: both;
}

.ellipsis {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
