<div class="wrap">
  <div class="container_wrap">
    <div class="h_wrap">
      <div class="area_logo">
        <h1 class="logo" i18n>아이멘토 로고</h1>
        <p class="logo_t" i18n>Mentor Series의 자기주도 학습</p>
      </div>
    </div>
    <div class="area_login">
      <p class="user_name" i18n>hi! {{this.userService.user.name}}님</p>
      <span>
          <a class="btn_login" href="javascript:void(0)" (click)="this.logoutUser()">LOGOUT</a>
      </span>
    </div>
    <div class="area_contents">
      <div class="side_m">
        <div class="area_select_bx">
          <span class="wb_book" [ngStyle]="{ 'background-image': 'url(' + this.book_url.replace('best', '') + ')'}" [ngClass]="{wb_book_center: !this.checkMasterPerm()}">책</span>
          <a id='pencil_image' class="pencil" href="javascript:void(0)" (click)="this.openChooseBook()"
             i18n *ngIf="this.checkMasterPerm()">교재선택</a>
          <p i18n style="margin-bottom:10px; padding-top:10px;">권장학습일은 30일 입니다.</p>
          <div class="select_bx">
            <h2 class="sbx_title" i18n>교재선택</h2>

            <form #book_select_form="ngForm">
              <ng-template [ngIf]="!chinese_bool">
                <div class="area_select_list">
                  <ul class="select_list select_list01">

                    <ng-container *ngFor="let a_book of this.NUM_BOOK_LIST; ">
                      <li *ngIf="a_book < 9">
                        <input [id]="'book_select_' + a_book" type="radio"
                               [name]="'book_select_' + a_book"
                               [(ngModel)]="book_select_num"
                               [value]="a_book">
                        <label class="r_book" [for]="'book_select_' + a_book" i18n>{{a_book}}호</label>
                      </li>
                    </ng-container>

                  </ul>
                  <ul class="select_list select_list02">

                    <ng-container *ngFor="let a_book of this.NUM_BOOK_LIST;">
                      <li *ngIf="a_book > 8 && a_book < 17">
                        <input [id]="'book_select_' + a_book" type="radio"
                               [name]="'book_select_' + a_book"
                               [(ngModel)]="book_select_num"
                               [value]="a_book">
                        <label class="g_book" [for]="'book_select_' + a_book" i18n>{{a_book}}호</label>
                      </li>
                    </ng-container>

                  </ul>
                  <ul class="select_list select_list03">

                    <ng-container *ngFor="let a_book of this.NUM_BOOK_LIST;">
                      <li *ngIf="a_book > 16 && a_book < 25">
                        <input [id]="'book_select_' + a_book" type="radio"
                               [name]="'book_select_' + a_book"
                               [(ngModel)]="book_select_num"
                               [value]="a_book">
                        <label class="b_book" [for]="'book_select_' + a_book" i18n>{{a_book}}호</label>
                      </li>
                    </ng-container>

                  </ul>
                </div>
              </ng-template>

              <ng-template [ngIf]="chinese_bool && !version_best_bool">
                <div class="area_select_list">
                  <ul class="select_list select_list01">
                    <ng-container *ngFor="let a_book of this.NUM_BOOK_LIST; ">
                      <li *ngIf="a_book < 6">
                        <input [id]="'book_select_' + a_book" type="radio"
                               [name]="'book_select_' + a_book"
                               [(ngModel)]="book_select_num"
                               [value]="a_book">
                        <label class="r_book" [for]="'book_select_' + a_book">{{a_book}}</label>
                      </li>
                    </ng-container>
                  </ul>
                  <ul class="select_list select_list02">
                    <ng-container *ngFor="let a_book of this.NUM_BOOK_LIST;">
                      <li *ngIf="a_book > 5 && a_book < 11">
                        <input [id]="'book_select_' + a_book" type="radio"
                               [name]="'book_select_' + a_book"
                               [(ngModel)]="book_select_num"
                               [value]="a_book">
                        <label class="g_book" [for]="'book_select_' + a_book">{{a_book}}</label>
                      </li>
                    </ng-container>
                  </ul>
                </div>
              </ng-template>

              <ng-template [ngIf]="chinese_bool && version_best_bool">
                <div class="area_select_list">
                  <ul class="select_list select_list01">
                    <ng-container *ngFor="let a_book of this.NUM_BOOK_LIST; ">
                      <li *ngIf="a_book < 6">
                        <input [id]="'book_select_' + a_book" type="radio"
                               [name]="'book_select_' + a_book"
                               [(ngModel)]="book_select_num"
                               [value]="'best' + a_book">
                        <label class="g_book" [for]="'book_select_' + a_book">Best{{a_book}}</label>
                      </li>
                    </ng-container>
                  </ul>
                  <ul class="select_list select_list02">
                    <ng-container *ngFor="let a_book of this.NUM_BOOK_LIST;">
                      <li *ngIf="a_book > 5 && a_book < 9">
                        <input [id]="'book_select_' + a_book" type="radio"
                               [name]="'book_select_' + a_book"
                               [(ngModel)]="book_select_num"
                               [value]="'best' + a_book">
                        <label class="b_book" [for]="'book_select_' + a_book">Best{{a_book}}</label>
                      </li>
                    </ng-container>
                  </ul>
                </div>
              </ng-template>

            </form>
            <a class="btn_close" href="javascript:void(0)" (click)="this.closeChooseBook();">close</a>
            <a class="btn_select" href="javascript:void(0)" (click)="this.chooseBook();">choose</a>
          </div>
        </div>

        <!-------------------------------------------------calendar --------------------------------------------->
        <!--<span class="fa-stack cview&#45;&#45;date">-->
          <!--<i class="fa fa-times fa-stack-2x" style="color: #1287eb; margin-top:-3px;"></i>-->
          <!--<strong class="fa-stack-1x" style="margin-top:-3px;">27</strong>-->
        <!--</span>-->

        <!--<span class="fa-stack cview&#45;&#45;date">-->
          <!--<i class="fa fa-circle-thin fa-stack-2x" style="color: orangered; margin-top:-3px;"></i>-->
          <!--<strong class="fa-stack-1x" style="margin-top:-3px;">27</strong>-->
        <!--</span>-->

        <div class="cld">

          <div class="calendar" id="calendar-app">
            <div class="calendar--day-view" id="day-view">
              <span class="day-view-exit" id="day-view-exit">&times;</span>
              <span class="day-view-date" id="day-view-date">MAY 29 2016</span>
              <div class="day-view-content">
                <div class="day-highlight">
                  You <span class="day-events" id="day-events">had no events for today</span>. &nbsp; <span tabindex="0" onkeyup="if(event.keyCode != 13) return; this.click();" class="day-events-link" id="add-event" data-date>Add a new event?</span>
                </div>
                <div class="day-add-event" id="add-day-event-box" data-active="false">
                  <div class="calendar-row">
                    <div class="half">
                      <label class="add-event-label">
                        Name of event
                        <input type="text" class="add-event-edit add-event-edit--long" placeholder="New event" id="input-add-event-name">

                      </label>
                    </div>
                    <div class="qtr">
                      <label class="add-event-label">
                        Start Time
                        <input type="text" class="add-event-edit" placeholder="8:15" id="input-add-event-start-time" data-options="1,2,3,4,5,6,7,8,9,10,11,12" data-format="datetime">
                        <input type="text" class="add-event-edit" placeholder="am" id="input-add-event-start-ampm" data-options="a,p,am,pm">
                      </label>
                    </div>
                    <div class="qtr">
                      <label class="add-event-label">
                        End Time
                        <input type="text" class="add-event-edit" placeholder="9" id="input-add-event-end-time" data-options="1,2,3,4,5,6,7,8,9,10,11,12" data-format="datetime">
                        <input type="text" class="add-event-edit" placeholder="am" id="input-add-event-end-ampm" data-options="a,p,am,pm">
                      </label>
                    </div>
                    <div class="half">
                      <a onkeyup="if(event.keyCode != 13) return; this.click();" tabindex="0" id="add-event-save" class="event-btn--save event-btn">save</a>
                      <a tabindex="0" id="add-event-cancel" class="event-btn--cancel event-btn">cancel</a>
                    </div>
                  </div>

                </div>
                <div id="day-events-list" class="day-events-list">

                </div>
                <div class="day-inspiration-quote" id="inspirational-quote">
                  Every child is an artist.  The problem is how to remain an artist once he grows up. –Pablo Picasso
                </div>
              </div>
            </div>
            <div class="calendar--view" id="calendar-view">
              <div class="cview__month">
                <span class="cview__month-last" id="calendar-month-last">Apr</span>
                <span class="cview__month-current" id="calendar-month">May</span>
                <span class="cview__month-next" id="calendar-month-next">Jun</span>
              </div>
              <div class="cview__header">Sun</div>
              <div class="cview__header">Mon</div>
              <div class="cview__header">Tue</div>
              <div class="cview__header">Wed</div>
              <div class="cview__header">Thu</div>
              <div class="cview__header">Fri</div>
              <div class="cview__header">Sat</div>
              <div class="calendar--view" id="dates">
              </div>
            </div>
            <div class="footer" style="display:none;">
              <span><span id="footer-date" class="footer__link">Today is May 30</span></span>
            </div>
          </div>



        </div>
        <p class="cc_text" i18n style="margin-bottom:10px; margin-top: 5px;">본 학습은 30일 학습기간을 제공합니다.</p>
        <div class="character_bx" [ngStyle]="{ 'background-image': 'url(' + this.character_url + ')'}">
        </div>
      </div>

      <div class="main_con">
        <div class="area_mc">
          <div class="area_mc_title">
            <h2 class="mc_title" i18n>{{this.userService.view_ho}}호 / {{this.userService.jindo.book_title}}</h2>
          </div>
          <div class="round_bx">
            <ul class="round_list">

              <li class="round_list01" (click)="this.openPopup('vocabulary', '1', 1)">

                <ng-template [ngIf]="this.step_num <= 1" [ngIfElse]="studied_step1">
                  <a class="on" href="javascript:void(0)">voca1</a>
                  <span class="area_btn_start">
                    <a class="btn_start" href="javascript:void(0)">Start</a>
                  </span>
                </ng-template>

                <ng-template #studied_step1>
                  <a href="javascript:void(0)">voca1</a>
                </ng-template>

              </li>

              <li class="round_list02" (click)="this.openPopup('vocabulary', '2', 2)">
                <ng-template [ngIf]="this.step_num <= 2" [ngIfElse]="studied_step2">
                  <a class="on" href="javascript:void(0)">voca2</a>
                  <span class="area_btn_start" *ngIf="this.checkMasterPerm() || this.step_num == 2">
                    <a class="btn_start" href="javascript:void(0)">Start</a>
                  </span>
                </ng-template>

                <ng-template #studied_step2>
                  <a href="javascript:void(0)">voca2</a>
                </ng-template>
              </li>

              <li class="round_list03" (click)="this.openPopup('vocabulary', '3', 3)">

                <ng-template [ngIf]="this.step_num <= 3" [ngIfElse]="studied_step3">
                  <a class="on" href="javascript:void(0)">voca3</a>
                  <span class="area_btn_start" *ngIf="this.checkMasterPerm() || this.step_num == 3">
                    <a class="btn_start" href="javascript:void(0)">Start</a>
                  </span>
                </ng-template>

                <ng-template #studied_step3>
                  <a href="javascript:void(0)">voca3</a>
                </ng-template>

              </li>

              <li class="round_list04" (click)="this.openPopup('vocabulary', '4', 4)">

                <ng-template [ngIf]="this.step_num <= 4" [ngIfElse]="studied_step4">
                  <a class="on" href="javascript:void(0)">voca4</a>
                  <span class="area_btn_start" *ngIf="this.checkMasterPerm() || this.step_num == 4">
                    <a class="btn_start" href="javascript:void(0)">Start</a>
                  </span>
                </ng-template>

                <ng-template #studied_step4>
                  <a href="javascript:void(0)">voca4</a>
                  <span class="score">{{this.userService.jindo.point_vocabulary4}}</span>
                  <span class="area_btn_result">
                    <a class="btn_result" href="javascript:void(0)">Result</a>
                  </span>
                  <!--<p class="grading">채점중입니다.</p>-->
                </ng-template>
              </li>

              <li class="round_list05" (click)="this.openPopup('grammar', '1', 5)">
                <ng-template [ngIf]="this.step_num <= 5" [ngIfElse]="studied_step5">
                  <a class="on" href="javascript:void(0)">grammar1</a>
                  <span class="area_btn_start" *ngIf="this.checkMasterPerm() || this.step_num == 5">
                    <a class="btn_start btn_start02" href="javascript:void(0)">Start</a>
                  </span>
                </ng-template>

                <ng-template #studied_step5>
                  <a href="javascript:void(0)">grammar1</a>
                </ng-template>
              </li>

              <li class="round_list06" (click)="this.viewStateChooseMain('story-one', 'storybook', '1', 10)">
                <ng-template [ngIf]="this.step_num <= 10" [ngIfElse]="studied_step10">
                  <a class="on" href="javascript:void(0)">storybook1</a>
                  <span class="area_btn_start" *ngIf="this.checkMasterPerm() || this.step_num == 10">
                    <a class="btn_start btn_start02" href="javascript:void(0)">Start</a>
                  </span>
                </ng-template>

                <ng-template #studied_step10>
                  <a href="javascript:void(0)">storybook1</a>
                </ng-template>
              </li>

              <li class="round_list07" (click)="this.openPopup('grammar', '5', 9)">
                <ng-template [ngIf]="this.step_num <= 9" [ngIfElse]="studied_step9">
                  <a class="on" href="javascript:void(0)">test</a>
                  <span class="area_btn_start" *ngIf="this.checkMasterPerm() || this.step_num == 9">
                    <a class="btn_start btn_start03" href="javascript:void(0)">Start</a>
                  </span>
                </ng-template>

                <ng-template #studied_step9>
                  <a href="javascript:void(0)">test</a>
                  <span class="score score03">{{this.userService.jindo.point_grammar5}}</span>
                  <span class="area_btn_result">
                    <a class="btn_result btn_result03" href="javascript:void(0)">Result</a>
                  </span>
                  <!--<p class="grading">채점중입니다.</p>-->
                </ng-template>
              </li>

              <li class="round_list08" (click)="this.openPopup('grammar', '4', 8)">
                <ng-template [ngIf]="this.step_num <= 8" [ngIfElse]="studied_step8">
                  <a class="on" href="javascript:void(0)">grammar4</a>
                  <span class="area_btn_start" *ngIf="this.checkMasterPerm() || this.step_num == 8">
                    <a class="btn_start btn_start03" href="javascript:void(0)">Start</a>
                  </span>
                </ng-template>

                <ng-template #studied_step8>
                  <a href="javascript:void(0)">grammar4</a>
                </ng-template>
              </li>

              <li class="round_list09" (click)="this.openPopup('grammar', '3', 7)">
                <ng-template [ngIf]="this.step_num <= 7" [ngIfElse]="studied_step7">
                  <a class="on" href="javascript:void(0)">grammar3</a>
                  <span class="area_btn_start" *ngIf="this.checkMasterPerm() || this.step_num == 7">
                    <a class="btn_start btn_start03" href="javascript:void(0)">Start</a>
                  </span>
                </ng-template>

                <ng-template #studied_step7>
                  <a href="javascript:void(0)">grammar3</a>
                </ng-template>
              </li>

              <li class="round_list10" (click)="this.openPopup('grammar', '2', 6)">
                <ng-template [ngIf]="this.step_num <= 6" [ngIfElse]="studied_step6">
                  <a class="on" href="javascript:void(0)">grammar2</a>
                  <span class="area_btn_start" *ngIf="this.checkMasterPerm() || this.step_num == 6">
                    <a class="btn_start btn_start03" href="javascript:void(0)">Start</a>
                  </span>
                </ng-template>

                <ng-template #studied_step6>
                  <a href="javascript:void(0)">grammar2</a>
                </ng-template>
              </li>

              <li class="round_list11" (click)="this.viewStateChooseMain('story-two', 'storybook', '2', 11)">
                <ng-template [ngIf]="this.step_num <= 11" [ngIfElse]="studied_step11">
                  <a class="on" href="javascript:void(0)">storybook2</a>
                  <span class="area_btn_start" *ngIf="this.checkMasterPerm() || this.step_num == 11">
                    <a class="btn_start" href="javascript:void(0)">Start</a>
                  </span>
                </ng-template>

                <ng-template #studied_step11>
                  <a href="javascript:void(0)">storybook2</a>
                </ng-template>
              </li>

              <li class="round_list12" (click)="this.viewStateChooseMain('story-three', 'storybook', '3', 12)">
                <ng-template [ngIf]="this.step_num <= 12" [ngIfElse]="studied_step12">
                  <a class="on" href="javascript:void(0)">storybook3</a>
                  <span class="area_btn_start" *ngIf="this.checkMasterPerm() || this.step_num == 12">
                    <a class="btn_start" href="javascript:void(0)">Start</a>
                  </span>
                </ng-template>

                <ng-template #studied_step12>
                  <a href="javascript:void(0)">storybook3</a>
                </ng-template>
              </li>

              <li class="round_list13" (click)="this.viewStateChooseMain('story-four', 'storybook', '4', 13)">
                <ng-template [ngIf]="this.step_num <= 13" [ngIfElse]="studied_step13">
                  <a class="on" href="javascript:void(0)">storybook4</a>
                  <span class="area_btn_start" *ngIf="this.checkMasterPerm() || this.step_num == 13">
                    <a class="btn_start" href="javascript:void(0)">Start</a>
                  </span>
                </ng-template>

                <ng-template #studied_step13>
                  <a href="javascript:void(0)">storybook4</a>
                </ng-template>
              </li>

              <li class="round_list14" (click)="this.openPopup('speaking', '1', 14)">
                <ng-template [ngIf]="this.step_num <= 14" [ngIfElse]="studied_step14">
                  <a class="on" href="javascript:void(0)">speak-ing1</a>
                  <span class="area_btn_start" *ngIf="this.checkMasterPerm() || this.step_num == 14">
                    <a class="btn_start" href="javascript:void(0)">Start</a>
                  </span>
                </ng-template>

                <ng-template #studied_step14>
                  <a href="javascript:void(0)">speak-ing1</a>
                  <span class="score score03">{{this.userService.jindo.point_speaking1}}</span>
                </ng-template>
              </li>

              <li class="round_list15" (click)="this.openPopup('speaking', '2', 15)">
                <ng-template [ngIf]="this.step_num <= 15" [ngIfElse]="studied_step15">
                  <a class="on" href="javascript:void(0)">speak-ing2</a>
                  <span class="area_btn_start" *ngIf="this.checkMasterPerm() || this.step_num == 15">
                    <a class="btn_start btn_start02" href="javascript:void(0)">Start</a>
                  </span>
                </ng-template>

                <ng-template #studied_step15>
                  <a href="javascript:void(0)">speak-ing2</a>
                  <span class="score score04">{{this.userService.jindo.point_speaking2}}</span>
                </ng-template>
              </li>

              <li class="round_list16" (click)="this.viewStateChooseTest('finaltest', 'writing', this.userService.jindo.step == 'finaltest')" style="position:absolute; z-index:5;">
                <ng-template [ngIf]="this.userService.jindo.point_finaltest_writing == ''" [ngIfElse]="studied_step18">
                  <a class="on" href="javascript:void(0)">Writing Test</a>
                  <span class="area_btn_start" *ngIf="this.checkMasterPerm() || this.userService.jindo.step == 'finaltest'">
                    <a class="btn_start" href="javascript:void(0)">Start</a>
                  </span>
                </ng-template>

                <ng-template #studied_step18>
                  <a href="javascript:void(0)">Writing Test</a>
                  <span class="score score03">{{this.userService.jindo.point_finaltest_writing}}</span>
                  <span class="area_btn_result">
                    <a class="btn_result btn_result03" href="javascript:void(0)">Result</a>
                  </span>
                </ng-template>
              </li>

              <li class="round_list17" (click)="this.viewStateChooseTest('finaltest', 'speaking', this.userService.jindo.step == 'finaltest')">
                <ng-template [ngIf]="this.userService.jindo.point_finaltest_speaking == ''" [ngIfElse]="studied_step17">
                  <a class="on" href="javascript:void(0)">Speaking Test</a>
                  <span class="area_btn_start" *ngIf="this.checkMasterPerm() || this.userService.jindo.step == 'finaltest'">
                    <a class="btn_start btn_start03" href="javascript:void(0)">Start</a>
                  </span>
                </ng-template>

                <ng-template #studied_step17>
                  <a href="javascript:void(0)">Speaking Test</a>
                  <span class="score score03">{{this.userService.jindo.point_finaltest_speaking}}</span>
                  <span class="area_btn_result">
                    <a class="btn_result btn_result03" href="javascript:void(0)">Result</a>
                  </span>
                </ng-template>
              </li>

              <li class="round_list18" (click)="this.openPopup('speaking', '3', 16)">
                <ng-template [ngIf]="this.step_num <= 16" [ngIfElse]="studied_step16">
                  <a class="on" href="javascript:void(0)">speak-ing3</a>
                  <span class="area_btn_start" *ngIf="this.checkMasterPerm() || this.step_num == 16">
                    <a class="btn_start btn_start03" href="javascript:void(0)">Start</a>
                  </span>
                </ng-template>

                <ng-template #studied_step16>
                  <a href="javascript:void(0)">speak-ing3</a>
                  <span class="score score05">{{this.userService.jindo.point_speaking3}}</span>
                </ng-template>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- END : container_wrap -->
</div> <!-- END : wrap -->

<!--<div class="container mt-5">-->
  <!--<div class="row">-->
    <!--<div class="col">-->
      <!--<button class="btn btn-primary" (click)="this.openPopup('storybook', '1')">-->
        <!--Storybook1-->
      <!--</button>-->
      <!--<button class="btn btn-primary" (click)="this.openPopup('storybook', '2')">-->
        <!--Storybook2-->
      <!--</button>-->
      <!--<button class="btn btn-primary" (click)="this.openPopup('storybook', '3')">-->
        <!--Storybook3-->
      <!--</button>-->
      <!--<button class="btn btn-primary" (click)="this.openPopup('storybook', '4')">-->
        <!--Storybook4-->
      <!--</button>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="row mt-3">-->
    <!--<div class="col">-->
      <!--<button class="btn btn-primary" (click)="this.viewStateChooseMain('story-one', 'storybook', '1')">-->
        <!--Storybook1-->
      <!--</button>-->
      <!--<button class="btn btn-primary" (click)="this.viewStateChooseMain('story-two', 'storybook', '2')">-->
        <!--Storybook2-->
      <!--</button>-->
      <!--<button class="btn btn-primary" (click)="this.viewStateChooseMain('story-three', 'storybook', '3')">-->
        <!--Storybook3-->
      <!--</button>-->
      <!--<button class="btn btn-primary" (click)="this.viewStateChooseMain('story-four', 'storybook', '4')">-->
        <!--Storybook4-->
      <!--</button>-->
    <!--</div>-->
  <!--</div>-->

  <!--<app-chat-dialog></app-chat-dialog>-->
<!--</div>-->

