<div class="row final_test_outer_border text-center" style="min-height: 150px;">
  <div class="col">
    <ng-container *ngIf="this.finalTestService.current_question_index !== 3; else nopicture">
      <img class="img-fluid p-2"
          [src]="'/IMENTOR/img/finaltest/' + this.finalTestService.getCurrentQuestion('writing').ex_img"
           alt="Question Image">
    </ng-container>

    <ng-template #nopicture>
      <p [innerHTML] = "this.rawTextToParagraph()"></p>
    </ng-template>

  </div>
</div>

<div class="row final_test_full_border" style="min-height: 100px;">
  <div class="col">
    <!--Material textarea-->
    <!--Textarea with icon prefix-->
    <div class="md-form amber-textarea active-amber-textarea">
      <i class="fa fa-pencil prefix" [ngClass]="this.textarea_focused ? 'active' : 'inactive'"></i>
      <textarea type="text" id="answer_textarea" class="md-textarea form-control" rows="3" disabled="true"
                (focus)="this.textarea_focused = true"
                (blur)="this.textarea_focused = false;"
                [value]="this.finalTestService.answer_list[this.finalTestService.current_question_index]"></textarea>
      <label for="answer_textarea" [ngClass]="this.textarea_focused ? 'active' : 'inactive'">Write your answer here</label>
    </div>

  </div>
</div>
