<div class="container">
  <div class="row">
    <div class="col-lg-11 mx-auto mt-md-4 mt-0 mb-md-3 mb-0 container-border px-2 px-lg-3">
      <story-header></story-header>
      <div class="row mt-2">
        <div class="col justify-content-end d-flex">
          <ul class="nav nav-tabs ml-md-5 ml-0 border-bottom-0">

            <li class="nav-item" *ngFor="let a_section of this.NUM_SECTION_LIST">
              <a class="nav-link cursor_pointer border border-top rounded text-white"
                 style="font-size:.74rem;"
                 [ngClass]="setActiveSectionTab(a_section)"
                  (click)="this.clickSectionTab(a_section)">
                Scene {{a_section}}
              </a>
            </li>

          </ul>
        </div>
      </div>

      <div class="row ml-lg-3 ml-0 mr-0 mb-lg-3">
        <div class="col-lg-4 text-center">

          <h3 class="font-weight-bold font-italic" style="color: rgb(106,57,156);">{{this.userService.jindo.book_title}}</h3>

          <div class="tada animated image-container-custom mx-auto mt-2">
            <img [src]="this.setStorybookImage()" class="p-1">
          </div>

          <audio type="audio/mpeg"
                 id="storybook_audio"
                 controls controlsList="nodownload"
                 loop
                 class="mt-3 mb-2 w-100"
                 style="max-width:400px;"
                *ngIf="this.userService.step !== 'storybook4'"></audio>

        </div>
        <div class="col-lg-8 mt-3 mt-md-0">
          <div class="row pt-3 inner-container-border" style="height: 470px;">
            <div class="col-12 scrollbar-deep-blue" style="height: 390px; overflow-y: scroll;">
              <router-outlet></router-outlet>
            </div>

            <div class="col-12 justify-content-center d-flex" style="height: 40px;">
              <button class="btn btn-info mr-3" (click)="this.retryScene()" id="storybook_next_button" disabled>Retry</button>
              <button class="btn btn-primary" id="storybook_finish_button" (click)="this.finishStorybook()" disabled>Finish</button>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>

<storybook-initial-modal></storybook-initial-modal>
<storybook-final-modal></storybook-final-modal>
