<button id="storyModalButton" [hidden]="true" data-toggle="modal" data-target="#storyModalCenter">Open Modal</button>
<!-- Modal -->
<div class="modal fade" id="storyModalCenter" tabindex="-1" role="dialog" aria-labelledby="storyModalCenterTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content"
         style="background-color: #80d844;
         background-image: url('assets/img/modal_image.png');
        background-repeat: no-repeat;
          background-position: top;
          background-size: 100% 90%;">
      <div class="modal-header border-bottom-0">
        <h4 class="modal-title text-danger font-weight-bold">
          <div *ngIf="this.modal_view_state === this.viewStateService.STORYBOOK_ONE">
            STORYBOOK 1
          </div>
          <div *ngIf="this.modal_view_state === this.viewStateService.STORYBOOK_TWO">
            STORYBOOK 2
          </div>
          <div *ngIf="this.modal_view_state === this.viewStateService.STORYBOOK_THREE">
            STORYBOOK 3
          </div>
          <div *ngIf="this.modal_view_state === this.viewStateService.STORYBOOK_FOUR">
            STORYBOOK 4
          </div>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="this.modalButtonClick()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center h4 border-bottom-0 p-2" style="line-height:1.5; font-size: 1.4rem;">
        <div *ngIf="this.modal_view_state === this.viewStateService.STORYBOOK_ONE" i18n>
          본문학습 입니다.<br>
          본문을 들으면서 알맞은 단어를<br>
          클릭하세요.<br>
          본문 듣기는 Scene 별로<br>
          학습 기록이 저장됩니다.
        </div>
        <div *ngIf="this.modal_view_state === this.viewStateService.STORYBOOK_TWO" i18n>
          본문 쓰기 학습입니다.<br>
          단락별 음원을 듣고, 한글 해석을<br>
          보면서 영어 문장을 완성하세요.<br>
          본문 쓰기는 Scene 별로<br>
          학습 기록이 저장됩니다.
        </div>
        <div *ngIf="this.modal_view_state === this.viewStateService.STORYBOOK_THREE" i18n>
          본문 받아쓰기 학습입니다.<br>
          단락별 음원을 듣고, 빈 칸에<br>
          알맞은 단어를 쓰세요.<br>
          단어 입력 후 엔터 키를 누르세요.<br>
          틀린 경우 힌트가 등장합니다.<br>
          본문 쓰기는 Scene 별로<br>
          학습 기록이 저장됩니다.
        </div>
        <div *ngIf="this.modal_view_state === this.viewStateService.STORYBOOK_FOUR" i18n>
          본문 영작 학습입니다.<br>
          문장을 영작한 후, 엔터 키를<br>
          누르세요.<br>
          틀린 경우 힌트가 등장합니다.<br>
          본문 쓰기는 Scene 별로<br>
          학습기록이 저장됩니다.
        </div>

      </div>
      <div class="modal-footer border-top-0">
        <button type="button" data-dismiss="modal" aria-label="Confirm" class="custom_pink_button" (click)="this.modalButtonClick()">START</button>
      </div>
    </div>
  </div>
</div>
