<div class="row pt-3 pb-5 pr-md-3 pl-md-3"
     *ngFor="let a_key of getKeys(); let idx = index"
     [id]="'story_test_div_'+idx">
  <div class="col-12">

    <div class="p-3" [ngClass]="this.current_question_num === idx? 'question_statement_box_selected': 'question_statement_box'">


      <div style="font-size: 1.5rem;" class="pl-3">
        {{this.current_translation_sentence}}
      </div>

      <div class="mt-3 pl-2 bg-white pt-1 pb-2 ml-1"
           [ngClass]="this.current_question_num === idx ? 'question_font_size_selected': 'question_font_size'">

        <ng-container
          *ngIf="this.current_question_num !== idx; then question_default; else question_highlight">
        </ng-container>

        <ng-template #question_default>
              <span [ngClass]="idx > this.current_question_num? 'invisible' : 'visible'">
              {{this.questionStorageService.question_structure.storybook2_3.pgraph1[a_key].eng}}
              </span>
        </ng-template>

        <ng-template #question_highlight>
          <form class="form-style-4 form-inline"
                [formGroup]="storyTestForm">
            <input type="email"
                   class=""
                   formControlName="english_sentence"
                   autocomplete="off"
                   maxlength="100"
                   [placeholder]="this.current_english_sentence"
                   [id]="'english_sentence_'+ idx">
          </form>
        </ng-template>


      </div>

    </div>


  </div>
</div>
