<div class="row pt-2 pb-2 pr-md-3 pl-md-3 pr-2 pl-2"
     *ngFor="let a_key of getKeys(); let idx = index"
     [id]="'story_two_div_'+idx">
  <div class="col-12 pl-0 pr-0">

    <div class="p-3" [ngClass]="this.current_question_num === idx? 'question_statement_box_selected': 'question_statement_box'">


      <div style="font-size: 1.5rem;" class="pl-3">
        {{this.displayTranslationSentences(idx)}}
      </div>

      <div class="mt-3 pl-2 bg-white pt-1 pb-2 ml-1"
           [ngClass]="this.current_question_num === idx ? 'question_font_size_selected': 'question_font_size'">

        <ng-container
          *ngIf="this.current_question_num !== idx; then question_default; else question_highlight">
        </ng-container>

        <ng-template #question_default>
              <span [ngClass]="idx > this.current_question_num? 'invisible' : 'visible'">
              {{this.displayEnglishSentences(idx)}}
              </span>
        </ng-template>

        <ng-template #question_highlight>
          <form class="form-style-4 form-inline md-form mb-0 mt-3"
                [formGroup]="storyTestForm">

            <textarea rows="1"
                      type="text"
                     class=""
                     formControlName="english_sentence"
                     autocomplete="off"
                    (focus)="this.input_foucsed = true"
                    (blur)="this.input_foucsed = false;"
                     [id]="'english_sentence_'+ idx">
            </textarea>
            <label [for]="'english_sentence_'+ idx" [ngClass]="this.input_foucsed ? 'active' : 'inactive'">{{this.current_english_sentence}}</label>
          </form>
        </ng-template>


      </div>

    </div>


  </div>
</div>
