<div class="row pt-2 pb-2 pr-md-3 pl-md-3 pr-2 pl-2"
     *ngFor="let a_key of getKeys(); let idx = index"
     [id]="'story_four_div_'+idx">
  <div class="col-12 pl-0 pr-0">

    <div class="p-3" [ngClass]="this.current_question_num === idx? 'question_statement_box_selected': 'question_statement_box'">


      <div style="font-size: 1.5rem;" class="pl-3">
        {{this.displayTranslationSentences(idx)}}
      </div>

      <div class="mt-3 pl-2 bg-white pt-1 pb-2 ml-1"
           [ngClass]="this.current_question_num === idx ? 'question_font_size_selected': 'question_font_size'">

        <ng-container
          *ngIf="this.current_question_num !== idx; then question_default; else question_highlight">
        </ng-container>

        <ng-template #question_default>
              <span [ngClass]="idx > this.current_question_num? 'invisible' : 'visible'">
              {{this.displayEnglishSentences(idx)}}
              </span>
        </ng-template>

        <ng-template #question_highlight>
          <form class="form-style-4 form-inline"
                [formGroup]="storyTestForm"
                (ngSubmit)="onSubmit()">
            <input type="email"
                   class=""
                   formControlName="english_sentence"
                   autocomplete="off"
                   maxlength="100"
                   [id]="'english_sentence_'+ idx">
          </form>
        </ng-template>


      </div>

    </div>


  </div>
</div>


<!-- Hint Modal -->
<div class="modal fade" id="storyHintModalCenter" tabindex="-1" role="dialog" aria-labelledby="storyHintModalCenterTitle" aria-hidden="true" data-backdrop="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content"
         style="background-color: #80d844;">
      <div class="modal-header">
        <h5 class="modal-title text-info font-weight-bold">HINT</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center h1">
        {{ this.displayEnglishSentences(this.current_question_num) }}
        <br><br>
        {{ this.displayTranslationSentences(this.current_question_num) }}
      </div>
    </div>
  </div>
</div>
